<%- include('nav', {title: "404: Page not fonud", description: "We cannot find this page on our servers." }) %>


<body class="bg-white">
    <div class="text-center">
        <h1 class="title">Ohio Chess Club</h1>
        <h3 class="title-desc">We're sorry. But we couldn't find this page on our servers.</h3>
        <a href="/"><button class="button-texture button-purple-color buttonpurple-hover-effect">Go Home</button></a>



</body>

</html>