<%- include('nav', {title, description }) %>


<body class="bg-white">
    <div class="text-center">
        <h1 class="title">Please agree to cookies to continue</h1>
        <h3 class="title-desc">We use cookies for our site's function only and to verify your currently logged-in status.</h3>
        <form action="/agree-to-cookies" method="POST">
            <a href="/"><button class="button-texture button-purple-color buttonpurple-hover-effect" type="submit">Agree and go Home</button></a>
        </form>


</body>

</html>