<!DOCTYPE html>
<html lang="en">
<%- include('nav', {title, description, canonicalUrl }) %>


    <body class="bg-white">

        <div class="text-center">
            <h1 class="title">Welcome Club Owner!</h1>
            <h3 class="title-desc">Here you can get your own club on our site.</h3>
            <a href="#getstarted"><button class="button-texture button-purple-color buttonpurple-hover-effect">Get
                    Started Now</button></a>


            <div class="subdiv" id="getstarted">
                <h1 class="subtitle">Getting started is easy, just fill out the form. </h1>
                <p class="subtext">Your club will be approved within a maximum time of 24 hours.
                <div class="featcontainer">
                    <div id="createclub"><br>
                        <% if (typeof actionError !== 'undefined' && actionError !== null) { %>
                            <a href="#" style="color: red;">ERROR: <%- actionError -%></a>
                        <% } %>
                    
                            <h1 class="subtitle">Enter your club information</h1>
                            <form action="/apply" method="POST" class="login-form">
                                <input type="text" name="clubName" placeholder="Club Name" class="login-input" /><br />
                                <input type="text" name="clubOwnerName" placeholder="Club Owner Name" class="login-input" /><br />
                                <input type="text" name="clubDescription" placeholder="Club Description" class="login-input" /><br />
                                <!-- <input type="text" name="ownerEmail" placeholder="Club Owner Email (This site)" class="login-input" /> <br /> -->
                                <p>*Any other information needed will be given after approval.</p>
                                <button type="submit" class="button-texture button-purple-color buttonpurple-hover-effect">Create Club</button>
                            </form>

                    </div>
                    
                </div>
            </div>



        </div>
        </div>


    </body>


</html>