<!DOCTYPE html>
<html lang="en">
<%- include('nav', {title, description, accountInfo, canonicalUrl }) %>


    <body class="bg-white">

        <div class="text-center">
            <h1 class="title">Your club is being reviewed.</h1>
            <h3 class="title-desc">On average it takes about 10 hours for you to be reviewed (max time: 24hrs). If your club has not been approved in that time frame, please check your email to see if there are any conflicts with your application.</h3>
            <a href="/"><button class="button-texture button-purple-color buttonpurple-hover-effect">Go Home</button></a>
        </div>


    </body>


</html>