<!DOCTYPE html>
<html lang="en">
<%- include('nav', {title, description, accountInfo, canonicalUrl  }) %>


    <body class="bg-white">

        <div class="text-center">
            <h1 class="title">Clubs</h1>
            <h3 class="title-desc">View clubs near you</h3>
            <a href="#courses"><button class="button-texture button-purple-color buttonpurple-hover-effect">Get
                    Started</button></a>
        </div>


        <div class="subdiv" id="courses">
            <h1 class="title">Search</h1>
            <p class="title-desc"><input type="text" name="searchbar" id="searchbar"></p>


            <div class="view-container" id="clubsContainer">


            </div>


        </div>


    </body>

    <script>
        var jsonData = `<%- JSON.stringify(clubs) -%>`;
        var parsedData = JSON.parse(jsonData);
        console.log(parsedData)

        var clubsContainer = document.getElementById('clubsContainer');

        function renderClubs(clubsData) {
            clubsContainer.innerHTML = ''; // Clear existing content

            for (let club in clubsData) {
                var clubData = clubsData[club]
                console.log(clubData)
                var html = `
                <div class="view inline-view" id="${clubData._id}">
                    <div class="view-content">
                        <div class="viewInformationContent">
                        <h1 class="subtitle">${clubData.clubName}</h1>
                        <h3 class="subtext">${clubData.clubDescription}</h3>
                        <p class="subtext">Club Owner: ${clubData.clubOwnerName}</p>
                        <p class="subtext">(${clubData.ownerEmail})</p>
                        <button class="view-button button-purple-color buttonpurple-hover-effect">View Now</button>
                        </div>
                    </div>
                </div>
            `

                clubsContainer.insertAdjacentHTML("afterbegin", html);
            }
        }

        renderClubs(parsedData); // Initial rendering

        // Search code
        var searchbar = document.getElementById('searchbar');
        searchbar.addEventListener('input', function () {
            var searchTerm = searchbar.value.toLowerCase();
            var filteredClubs = {}
            parsedData.forEach(club => {
                var objectValues = Object.values(club);
                var id = objectValues[0];
                var name = objectValues[1];
                var ownername = objectValues[2];
                var description = objectValues[3];

                var element = document.getElementById(id);

                if (element) {
                    if (element.innerText.toLowerCase().includes(searchTerm)) {
                        element.removeAttribute('hidden')
                        element.style.display = 'flex';
                    } else {
                        element.hidden = true;
                        element.style.display = 'none';
                    }
                }
            });


            // renderClubs(filteredClubs);
        });
    </script>

</html>