<!DOCTYPE html>
<html lang="en">
<%- include('nav', {title: "Contact", description: "Contact the Ohio Chess Club." }) %>


    <body class="bg-white">
        <div class="text-center">
            <h1 class="title">Contact</h1>
            <h3 class="title-desc">Ask us a question or for help. You will get a reply within 24 hours.</h3>
            <% if (typeof actionError !=='undefined' && actionError !==null) { %>
                <a href="#" style="color: red;">ERROR: <%- actionError -%></a>
                <% } %>
                <% if (typeof actionFinished !=='undefined' && actionFinished !==null) { %>
                    <a href="#" style="color: green;"><%- actionFinished -%></a>
                    <% } %>
            <div class="featcontainer">
                <div id="createclub">
                            <div class="gridItem">
                                                <h1 class="subtitle">Enter your info</h1>
                                                <form action="/contact" method="POST" class="login-form">
                                                    <input type="text" name="contactName" placeholder="Your Name"
                                                        class="login-input" /><br />
                                                    <input type="email" name="contactEmail" placeholder="Your Email"
                                                        class="login-input" /><br />
                                                    <textarea name="contactText" placeholder="Your Question / Help"
                                                        class="login-input"></textarea><br>
                                                    <!-- <input type="text" name="ownerEmail" placeholder="Club Owner Email (This site)" class="login-input" /> <br /> -->
                                                    <button type="submit"
                                                        class="button-texture button-purple-color buttonpurple-hover-effect">Contact</button>
                                                </form>
                            </div>
                </div>

            </div>
        </div>
    </body>


</html>