   <%- include('nav', {title, description, accountInfo, canonicalUrl }) %>

<body class="bg-white">
    <div class="text-center" id="login">
      <% if (typeof actionError !== 'undefined' && actionError !== null) { %>
        <a href="#" style="color: red;">ERROR: <%- actionError -%></a>
      <% } %>
      <h1 class="subtitle">Change your Password</h1>
      <p>Submit the form below</p>
      <form action="/forgotpasswordlinkpost" method="POST" class="login-form">
        <input type="hidden" name="email" value="<%- email -%>" />
        <input type="hidden" name="key" value="<%- key -%>" />
        <input type="text" name="password" placeholder="New Password" class="login-input" /><br />
        <button type="submit" class="button-texture button-purple-color buttonpurple-hover-effect">Change Password</button>
      </form>
      <a href="/login">Back to Login</a>
    </div>
  </body>
  