<%- include('nav', { title, description, accountInfo, canonicalUrl }) %>
<body class="bg-white">
  <div class="text-center" id="register">
    <% if (typeof actionError !== 'undefined' && actionError !== null) { %>
      <a href="#" style="color: red;">ERROR: <%- actionError -%></a>
    <% } %>
  <h1 class="subtitle">The video is not avaliable to the public at this time.</h1>
  <a href="/"><button class="button-texture button-purple-color buttonpurple-hover-effect">Go Home</button></a>

</div>
</body>
  <script>
    let vid = document.querySelector('video');
    vid.play()
  </script>