<!DOCTYPE html>
<html lang="en">
    <%- include('nav', {title, description, canonicalUrl}) %>


<body class="bg-white">

    <div class="text-center">
        <h1 class="title">Welcome to the club dashboard.</h1>
        <h3 class="title-desc">Sadly, your club has not been verified yet. Please check back later. (Max-time: 24hrs after creation) If your club has not been approved in that time frame, please check your email to see if there are any conflicts with your application.</h3>
        <a href="/"><button class="button-texture button-purple-color buttonpurple-hover-effect">Go Home</button></a>

        <!-- SUBSECTIONS -->
</div>


</body>

</html>