<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title -%></title>
    <link rel="manifest" href="manifest.json">
    <link href="/css/all.css" rel="stylesheet">
    <link href="/css/allFrontend.css" rel="stylesheet">
    <meta name="keywords" content="Chess, Free, Learning">
    <meta name="author" content="Ohio Chess Club">
    <meta name="description" content="<%- description -%>">
</head>

<head>
</head>
<nav>
    <ul class="nav-top-white">
        <li id="navlogotext">
            <a>
                <div>Ohio Chess Club</div>
            </a>
        </li>
        <li>
            <a href="/">
                <div class="nav-text-color-gray">Home</div>
            </a>
        </li>
        <li>
            <a href="/clubs">
                <div class="nav-text-color-gray">Clubs</div>
            </a>
        </li>
        <li>
            <a href="/manage-club">
                <div class="nav-text-color-gray">Manage Club</div>
            </a>
        </li>
        <li id="navselecttext">
            <a href="/contact">
                <div class="nav-text-color-gray">Contact</div>
            </a>
        </li>

    </ul>
</nav>

<script>
    var userInformation = fetch('/AccountInformationNavGet')
    var userInformationJson = userInformation.json()
    console.log(userInformation)
</script>