<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title -%></title>
    <link rel="manifest" href="manifest.json">
    <script src="https://kit.fontawesome.com/3e69591437.js" crossorigin="anonymous"></script>
    <link href="/css/allFrontend.css" rel="stylesheet">
    <meta name="keywords" content="Chess, Free, Learning">
    <meta name="author" content="Ohio Chess Club">
    <meta name="description" content="<%- description -%>">
</head>

<nav>
    <ul class="nav-top-white">
        <div class="left">
            <li id="navlogotext">
                <a>
                    <div>Ohio Chess Club</div>
                </a>
            </li>
            <li>
                <a href="/">
                    <div class="nav-text-color-gray">Home</div>
                </a>
            </li>
            <li>
                <a href="/clubs">
                    <div class="nav-text-color-gray">Clubs</div>
                </a>
            </li>
            <li>
                <a href="/manage-club">
                    <div class="nav-text-color-gray">Manage Club</div>
                </a>
            </li>
            <li id="navselecttext">
                <a href="/contact">
                    <div class="nav-text-color-gray">Contact</div>
                </a>
            </li>
        </div>
        <div class="right">
            <li id="manageAccountLink">
                <a>
                    <div class="nav-text-color-gray">Manage Account</div>
                </a>
            </li>
        </div>


    </ul>
</nav>

<div class="model" id="model">
    <i class="fa-solid fa-x closeSymbol" id="closeModel"></i>
    <h1 class="mainModelTitle">Manage your Account</h1>
    <div class="accountInfo" id="accountInfoDiv">
        <h3 class="modelSubtitle" id="mainSubTitle"></h3>
        <form method="post" action="/delete-account">
            <p>To delete your account, type "confirmdelete" in the box below.</p>
            <input type="text" id="accountDeleteInput" placeholder="Enter 'confirmdelete'">
            <button type="submit" class="modelButton" id="accountDeleteButton" disabled>Delete your Account</button>
        </form><br>
        <form method="post" action="/logout-account">
            <button type="submit" class="modelButton">Logout</button>
        </form>
        <p id="accId">Account ID:</p>
        <p id="accVerified">Account ---- verified</p>
        <p id="accLocation">Country: City: State:</p>
    </div>
    <div id="notLoggedInInfo" style="display: none;">
        <h3 class="modelSubtitle" id="mainSubTitle">You are not logged in.</h3>
    </div>

</div>

<script>

    var modelContainer = document.getElementById('model');
    modelContainer.style.display = "none"

    var manageAccountButton = document.getElementById('manageAccountLink');
    manageAccountButton.addEventListener('click', () => {
        modelContainer.style.display = "block"
    })

    var closeModelButton = document.getElementById('closeModel')
    closeModelButton.addEventListener('click', () => {
        modelContainer.style.display = "none"
    })

    var jsonData = `<%- JSON.stringify(accountInfo) -%>`;
    var accountData = JSON.parse(jsonData);
    console.log(accountData)
    if (accountData.isLoggedIn === "no") {
        console.log("Not logged in")
        document.getElementById('accountInfoDiv').style.display = "none"
        document.getElementById('notLoggedInInfo').style.display = "block"
    }
    else {
        document.getElementById('mainSubTitle').innerText = `${accountData.fullName} (${accountData.email})`;
        document.getElementById('accId').innerText = 'Account ID: ' + accountData.id
        if (accountData.isVerified == "false") {
            document.getElementById('accVerified').innerText = "Account isn't verified. Some features will be limited until you verify your account."
        }
        else if (accountData.isVerified == "true") {
            document.getElementById('accVerified').innerText = "Account is verified."
        }
        else {
            document.getElementById('accVerified').innerText = "Error getting the status of your accounts verification."
        }
        document.getElementById('accLocation').innerHTML = `Country: ${accountData.country}<br>City: ${accountData.city}<br>State: ${accountData.state}`
    }

    var accountDeleteInput = document.getElementById('accountDeleteInput');
    var accountDeleteButton = document.getElementById('accountDeleteButton');
    accountDeleteInput.addEventListener('input', () => {
        if(accountDeleteInput.value === "confirmdelete"){
            accountDeleteButton.disabled = false;
        }
        else{
            accountDeleteButton.disabled = true;
        }
    })

</script>