<%- include('nav', { title: "Register", description: "Register your account for the Ohio Chess Club." }) %>
<body class="bg-white">
  <div class="text-center" id="register">
    <% if (typeof actionError !== 'undefined' && actionError !== null) { %>
      <a href="#" style="color: red;">ERROR: <%- actionError -%></a>
    <% } %>
  <h1 class="subtitle">Register</h1>
  <form action="/register" method="POST" class="login-form">
      <input type="text" name="name" placeholder="Full Name" class="login-input" /><br />
      <input type="text" name="email" placeholder="Email" class="login-input" /><br />
      <input type="password" name="password" placeholder="Password" class="login-input" /><br />
      <input type="country" name="country" placeholder="Country" class="login-input" maxlength="30"/><br />
      <input type="city" name="city" placeholder="City" class="login-input" maxlength="30"/><br />
      <input type="state" name="state" placeholder="State" class="login-input" maxlength="30"/><br />
      <p>*If you do not live in a state, leave blank.</p>
      <button type="submit" class="button-texture button-purple-color buttonpurple-hover-effect">Register</button>
    </form>
    <a href="/login">Already have an account? Login</a>
</div>
</body>