<%- include('nav', {title, description, accountInfo, canonicalUrl }) %>


<body class="bg-white">
    <div class="text-center">
        <h1 class="title">The site is currently not released to the public yet.</h1>
        <h3 class="title-desc">Anticipated Launch: 2024</h3>
        <p>See you then!</p>
        <!-- <form action="/agree-to-cookies" method="POST">
            <a href="/"><button class="button-texture button-purple-color buttonpurple-hover-effect" type="submit">Agree and go Home</button></a>
        </form> -->


</body>

</html>