<%- include('nav', {title: "Verify your Email to Login to the Ohio Chess Club", description: "Verify your email." }) %>

    <body class="bg-white">
        <div class="text-center" id="login">
            <% if (typeof actionError !=='undefined' && actionError !==null) { %>
                <a href="#" style="color: red;">ERROR: <%- actionError -%></a>
                <% } %>
                    <h1 class="subtitle">Verify your email.</h1>
                    <form action="/verify" method="POST" class="login-form">
                        <input type="number" name="enteredCode" placeholder="Enter your verification code..."
                            class="login-input" min="0" max="999999">
                        <button type="submit"
                            class="button-texture button-purple-color buttonpurple-hover-effect">Verify</button>
                    </form>
                    <a href="#">A code was sent to your email at <%- email -%>, please enter it here.</a>
        </div>
    </body>

    <style>
    </style>